.search{
    width: 50%;
    padding: 20px 20px;
    float: right;
    top: 1%;
}
.search--input{
    background-color: #FFF;
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.search--input input{
    width: 100%;
}
.header{
    height: 70px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter--btn{
    padding: 2px 1em 0 1em;
    top: 2ch;
    left: 10px;
}

.add-person{
    background-color: blue;
    padding: 2px 1em 0 1em;
    width: 200px;
    height: 40px;
    border-radius: 0.2;
    float: right;
    
}
.add-person span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    padding: 0 0;
}